# Environment variables
.env

# Rails credentials
/config/master.key
/config/credentials/*.key

# Database
*.sqlite3
*.sqlite3-*

# Logs
log/*.log
tmp/

# Runtime data
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local