<h1>New Bill</h1>

<%= form_with model: @bill, local: true do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: :any %>
  </div>

  <div class="actions">
    <%= form.submit "Create Bill" %>
  </div>
<% end %>